html {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior: none;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    font-family: Open Sans;
    font-size: 48px;
}

header, section, footer {
    display: block; /* not happy with this, would rather it be none but then the TOP wont transition*/
    position: fixed;
    top: 100vh;
    width: 100%;
    height: 100vh;
    /*max-height: 1000px;*/
    overflow: hidden;
    z-index: 10;
    background: #ddd;
}

video {
    position: fixed;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.frames {
    transition: top 2s cubic-bezier(0.45, 0.7, 0, 1.25);
}

.frames.active {
    top: 0;
    display: block;
    position: fixed;
}

.frames.above {
    top: -200vh
}

.frames.below {
    top: 100vh;
}

.transition {
    transition: all 0.3s ease-in-out;
}

.transition-slow {
    transition: all 1s ease-in-out;
}

.transition-very-slow {
    transition: all 3s ease-in-out;
}

#landing {
    background: #fff;
    z-index: 4;
}

#food {
    background: none;
}

#secondary-video {
    z-index: 5;
    opacity: 0;
    transition: opacity 2s;
}

.active #secondary-video {
    opacity: 1;
}

#hero-video {
    opacity: 0;
}

#logo-frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    /*background: rgba(255,255,255,0.5);*/
    background: #000;
    border-radius: 100px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-logo {
    width: 100%;
    height: 100%;
}

#fuzzy {
    background: rgba(255,255,255,0.5);
    height: auto;

}

#pop-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.pop-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 0px;
    height: 0px;
    background: rgba(219,196,171, 0.8);
    overflow: hidden;
    text-align: center;
    line-height: 100%;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
    transition-delay: 1s
}

.active .pop-blocks {
    width: 150px;
    height: 150px;
}

.pop-blocks > img {
    width: 60px;
    align-self: center;
}

.pop-blocks > span {
    display: block;
    align-self: center;
    width: 150px;
    font-size: 50%;
}

footer {
    z-index: 10;
    background: #eee;
}


/*#fuzzy-text {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    right: 20px;
    text-align: right;
    font-size: 150%;
}

#fuzzy-image {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    height: 200px;
    width: 200px;
}*/

#fuzzy-image > img {
    min-height: 100%;
    min-width: 100%;
}

.active .food {
    opacity: 1;
}

#food > span {
    position: relative;
    z-index: 6;
    color: #000;
    font-size: 50%;
    text-align: center;
    width: 100%;
    display: block;
    background: rgba(255,255,255,0.7);
    margin: 50% 0;
}

#map {
    background: url(public/map.png) center center #f2f2f2 fixed;
    background-size: contain;
    background-repeat: no-repeat;
}

#map-link {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 75px;
    opacity: 0;
}

/*#gallery {
    height: auto;
}*/

.gallery-image {
    width: 25%;
    float: left;
    opacity: 0;
}

.gallery-hero {
    width: 75%;
}

#riders {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
}